<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Limit</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="main.scss">
</head>
<body>
    <div class="flex flex-col min-h-screen overflow-hidden">
    
        <%- include('partials/header'); %>
        <main class="flex-grow">
    
            <section class="bg-gradient-to-b from-gray-100 to-white">
                <div class="max-w-6xl mx-auto px-4 sm:px-6">
                    <div class="pt-32 pb-12 md:pt-40 md:pb-20">
    
                        <div class="max-w-3xl mx-auto text-center pb-12 md:pb-20">
                            <h1 class="h1">Set Limit</h1>
                        </div>
    
                        <div class="max-w-sm mx-auto">
                            <form action="/home/card/setlimit" method="post">
                                <div class="flex flex-wrap -mx-3 mb-4">
                                    <div class="w-full px-3">
                                        <label class="block text-gray-800 text-sm font-medium mb-1" for="curpin">Pin</label>
                                        <input type="password" name="curpin" id="curpin" class="form-input w-full text-gray-800" required>
                                    </div>
                                </div>
                                <div class="flex flex-wrap -mx-3 mb-4">
                                    <div class="w-full px-3">
                                        <label class="block text-gray-800 text-sm font-medium mb-1" for="stlmt">Limit</label>
                                        <input type="text" name="stlmt" id="stlmt" class="form-input w-full text-gray-800" required>
                                    </div>
                                </div>
                                <div class="flex flex-wrap -mx-3 mt-6">
                                    <div class="w-full px-3">
                                        <button class="btn text-white bg-blue-600 hover:bg-blue-700 w-full" type="submit" value="setlimit">Set Limit</button>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
    
                    </div>
                </div>
            </section>
    
        </main>
        <footer class="p-4 bg-white sm:p-6 dark:bg-gray-800">
            <%- include('partials/footer'); %>
        </footer>
    
    </div>
    
</body>
</html>